@page "/notes/create"
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Forget me? Regret me! - Create Note</PageTitle>

<div class="modal show d-block" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Note</h5>
                <button type="button"
                class="btn-close"
                aria-label="Close"
                @onclick="GoBack">
                </button>
            </div>

            @if (isCreating)
            {
                <div class="modal-body text-center text-muted">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Creating...</span>
                    </div>
                    <p class="mt-2 mb-0">Creating note...</p>
                </div>
            }
            else if (isError)
            {
                <div class="modal-body">
                    <div class="alert alert-danger mb-0">
                        Error!
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-outline-secondary"
                            @onclick="GoBack">
                        Close
                    </button>
                </div>
            }
            else
            {
                <EditForm Model="model" OnValidSubmit="CreateAsync">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="modal-body">
                        <div class="mb-3">
                            <label class="form-label">Title</label>
                            <InputText @bind-Value="model.Title"
                            class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <InputTextArea @bind-Value="model.Description"
                            class="form-control"
                            rows="5" />
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button"
                        class="btn btn-outline-secondary"
                        @onclick="GoBack">
                            Cancel
                        </button>
                        <button type="submit"
                        class="btn btn-primary">
                            Save
                        </button>
                    </div>
                </EditForm>
            }
        </div>
    </div>
</div>

<div class="modal-backdrop show"></div>

@code {
    private readonly string allNotesPageUrl = "/notes";

    private readonly string createNoteApiUrl = "api/notes";

    private CreateNoteRequest model = new CreateNoteRequest()
    {
        Title = "",
        Description = ""
    };
    private bool isCreating = false;
    private bool isError = false;

    private async Task CreateAsync()
    {
        isCreating = true;

        if (string.IsNullOrWhiteSpace(model.Title))
        {
            // Handle error
            isCreating = false;
            isError = true;
            return;
        }

        try
        {
            var response = await Http.PostAsJsonAsync(createNoteApiUrl, model);
            if (response.IsSuccessStatusCode)
            {
                Navigation.NavigateTo(allNotesPageUrl);
            }
            else
            {
                // Handle error
                isError = true;
            }
        }
        catch
        {
            // Handle error
            isError = true;
        }

        isCreating = false;
    }

    private void GoBack()
    {
        Navigation.NavigateTo(allNotesPageUrl);
    }
}